
# Utworzony przez https://www.toptal.com/developers/gitignore/api/intellij,linux
# Edytuj na https://www.toptal.com/developers/gitignore?templates=intellij,linux

### Inteligencja ###
# Obejmuje IDE JetBrains: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm i Rider
# Odniesienie: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Rzeczy specyficzne dla użytkownika
.idea/**/workspace.xml
.idea/**/zadania.xml
.idea/**/usage.statistics.xml
.idea/**/słowniki
.idea/**/półka

# AWS specyficzne dla użytkownika
.idea/**/aws.xml

# Wygenerowane pliki
.idea/**/contentModel.xml

# Pliki wrażliwe lub o dużej churn
.idea/**/źródła danych/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/biblioteki

# Gradle i Maven z automatycznym importem
# Używając Gradle lub Maven z automatycznym importem, należy wykluczyć pliki modułów,
# ponieważ zostaną odtworzone i mogą spowodować odejście. Usuń komentarz, jeśli używasz
# auto-import.
# .idea/artefakty
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/moduły
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Wtyczka Mongo Explorer
.idea/**/mongoSettings.xml

# Format projektu oparty na plikach
*.iws

# IntelliJ
na zewnątrz/

# wtyczka mpeltonen/sbt-idea
.moduły_idei/

# Wtyczka JIRA
atlassian-ide-plugin.xml

# Wtyczka Cursive Clojure
.idea/replstate.xml

# Wtyczka Crashlytics (dla Android Studio i IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
tkaniny.właściwości

# Klient odpoczynku oparty na edytorze
.idea/httpRequests

# Serializowany plik pamięci podręcznej Android studio 3.1+
.idea/cache/build_file_checksums.ser

### Łatka Intellij ###
# Komentarz Powód: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Wtyczka Sonarlint
# https://plugins.jetbrains.com/plugin/7973-sonarlint
.idea/**/sonarlint/

# Wtyczka SonarQube
# https://plugins.jetbrains.com/plugin/7238-sonarqube-community-plugin
.idea/**/sonarIssues.xml

# Wtyczka Markdown Navigator
# https://plugins.jetbrains.com/plugin/7896-markdown-navigator-enhanced
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/przeceny-nawigator/

# Błąd tworzenia pliku pamięci podręcznej
# Zobacz https://youtrack.jetbrains.com/issue/JBR-2257
.idea/$CACHE_FILE$

# Wtyczka CodeStream
# https://plugins.jetbrains.com/plugin/12206-codestream
.idea/codestream.xml

### Linux ###
*~

# pliki tymczasowe, które można utworzyć, jeśli proces nadal ma otwarty uchwyt usuniętego pliku
.bezpiecznik_ukryty*

# Preferencje katalogu KDE
.informator

# Folder na śmieci Linuksa, który może pojawić się na dowolnej partycji lub dysku
.Śmieci-*

# Pliki .nfs są tworzone, gdy otwarty plik jest usuwany, ale nadal uzyskuje się do niego dostęp
.nfs*

# Koniec https://www.toptal.com/developers/gitignore/api/intellij,linux
